<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="background">
        <div class="login-card">
            <h2>CREATE YOUR ACCOUNT</h2>
            <form action="/register/" method="POST">
                <label for="username">USERNAME</label>
                <input type="text" id="username" name="username" required>

                <label for="email">EMAIL</label>
                <input type="email" id="email" name="email" required>

                <label for="password">PASSWORD</label>
                <input type="password" id="password" name="password" required>

                <button type="submit">REGISTER</button>
                {% if msg %}
                    <p class="error">{{ msg }}</p>
                {% endif %}
            </form>

            <a href="{{ url_for('login') }}" class="support-link">ALREADY HAVE AN ACCOUNT?</a>
        </div>

    </div>
</body>
</html>